/*
 * Copyright 2015 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

@scope to (devtools-widget > *) {
  .styles-sidebar-pane-toolbar {
    border-bottom: 1px solid var(--sys-color-divider);
    flex-shrink: 0;
  }

  .styles-pane-toolbar {
    width: 100%;
  }

  devtools-tree-outline {
    flex-shrink: 0;
  }

  devtools-toolbar-input[type="filter"] {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
